<h1>New Newsletter</h1>
<%= form_tag(newsletters_path, multipart: true, target: '_blank') do %>
  <div class="card">
    <header>Intro content</header>
    <section>
      <%= label_tag :main_title, 'Newsletter title:' %>
      <%= text_field_tag :main_title, '', required: true %>
      <br>

      <label for="hero-image">Lead image</label>
      <div class="heroimage">
        <label class="dropimage">
          <input name="hero_image" title="Drop image or click me" type="file" required>
        </label>
      </div>
      <small>Size should be 600x300. <a href="https://www.befunky.com/create/collage/">This tool is helpful in making collages.</a></small>
      <br>

      <%= label_tag :hero_alt, 'Lead image ALT text:' %>
      <%= text_field_tag :hero_alt, '', required: true %>
      <small>This will be read by blind recipients and will also be displayed if the image can't load.</small>
      <br>

      <%= label_tag 'lead_html', 'Lead' %>
      <br>
      <%= text_area_tag 'lead_html', default_lead_html, rows: 5, cols: 80, class: 'richtext' %>
    </section>
  </div>

  <% @templated_events.each_with_index do |event, i| %>
    <div class="card">
      <header>Meetup event: <em><%= event[:title] %></em></header>
      <section>
        <%# This uses a strange array feature of forms in Rails %>

        <%= radio_button_tag "sections[]#{event[:id]}", 'ours' %>
        <%= label_tag "sections[]#{event[:id]}_ours", 'Our event', class: 'checkable' %>

        <%= radio_button_tag "sections[]#{event[:id]}", 'others' %>
        <%= label_tag "sections[]#{event[:id]}_others", 'Other event', class: 'checkable' %>

        <%= radio_button_tag "sections[]#{event[:id]}", 'none', true %>
        <%= label_tag "sections[]#{event[:id]}_none", 'Excluded', class: 'checkable' %>
        <br>

        <%= label_tag 'events[][title]', 'Title' %>
        <%= text_field_tag 'events[][title]', event[:title] %>
        <br>

        <%= label_tag 'events[][url]', 'URL' %>
        <%= text_field_tag 'events[][url]', event[:url] %>
        <br>

        <%= label_tag 'events[][description_html]', 'Description' %>
        <br>
        <%= text_area_tag 'events[][description_html]', event[:description_html], rows: 10, cols: 80, class: 'richtext' %>

        <% NewslettersHelper::HIDDEN_EVENT_FIELDS.each do |key| %>
          <%= hidden_field_tag "events[][#{key}]", event[key] %>
        <% end %>
      </section>
    </div>
  <% end %>

  <% (1..NewslettersHelper::MAX_ARTICLES).each do |i| %>
    <div class="card">
      <header>Article <%= i %> (optional)</header>
      <section>
        <%= label_tag 'articles[][title]', 'Title' %>
        <%= text_field_tag 'articles[][title]', '' %>
        <small>Leave this blank if you don't want this article</small>
        <br>
        <%= label_tag 'articles[][copy_html]', 'Copy' %>
        <br>
        <%= text_area_tag 'articles[][copy_html]', '', rows: 10, cols: 80, class: 'richtext' %>
      </section>
    </div>
  <% end %>

  <%= submit_tag 'Preview', data: { disable_with: false } %>
<% end # form %>
