<h1>Meetup Events</h1>
<ul>
  <li><%= link_to 'New newsletter', new_newsletter_path %></li>
  <li><%= link_to 'Log out', '/logout' %></li>
</ul>

<h1>Upcoming</h1>
<table>
  <tbody>
    <% @upcoming_events.each do |event| %>
      <tr>
        <td>
          <a href="<%= event_path(event[:id]) %>"><%= event[:name] %></a>
        </td>
        <td>
          <%= link_to 'Cross post', controller: 'cross_posts', action: 'new', event_id: event[:id] %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Recent</h1>
<table>
  <tbody>
    <% @recent_events.each do |event| %>
      <tr>
        <td>
          <a href="<%= event_path(event[:id]) %>"><%= event[:name] %></a>
        </td>
      </tr>
    <% end %>
  </tbody>
