<h1><%= @event[:name] %> (<%= @event[:id] %>)</h1>

Meetup link: <a href="<% @event[:link] %>"><%= @event[:link] %></a>

<h2>Cross-posts</h2>
<ul>
  <% @cross_posts.each do |post| %>
    <li><a href="<%= post.post_link %>"><%= post.post_link %></a></li>
  <% end %>
</ul>

<h2>RSVPs (<%= @rsvps.count %>)</h2>
<table>
  <thead>
    <tr>
      <td>Username</td>
      <td>Supplied name</td>
      <td>Real name</td>
    </tr>
  </thead>
    <tbody>
    <% @rsvps.each do |rsvp| %>
      <%= form_tag(named_users_path) do %>
        <%= hidden_field_tag :return_to_event, @event[:id] %>
        <%= hidden_field_tag :meetup_id, rsvp[:uid] %>
        <tr>
          <td>
            <%= rsvp[:name] %>
          </td>
          <td>
            <%= text_field_tag :full_name, rsvp[:answer], readonly: rsvp[:verified_name].present? %>
          </td>
          <td>
            <% if rsvp[:verified_name] %>
              <%= rsvp[:verified_name] %>
            <% else %>
              <%= submit_tag '⟶ Store as real name' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<h2>Copyable RSVPs</h2>
<small>Click on the list below to select all</small>
<div class="select-all">
  <%# TODO sort this by verified name; right now it's sorted by the regular name %>
  <% @rsvps.each do |rsvp| %>
    <% if rsvp[:verified_name] %>
      <%= rsvp[:verified_name] %>
    <% else %>
      <%= rsvp[:name] %>*
    <% end %>
    <br>
  <% end %>

  <br>
  * These attendees did not provide a full name, and we weren't able to reach them before this list was compiled.
</div>
