<h1><%= @event[:name] %> (<%= @event[:id] %>)</h1>

Meetup link: <a href="<% @event[:link] %>"><%= @event[:link] %></a>

<h2>Cross-posts</h2>
<ul>
  <% @cross_posts.each do |post| %>
    <li><a href="<%= post.post_link %>"><%= post.post_link %></a></li>
  <% end %>
</ul>
