<h1><%= @event[:name] %> (<%= @event[:id] %>)</h1>

Meetup link: <a href="<%= @event[:link] %>"><%= @event[:link] %></a>

<section>
  <h2>Cross-posts</h2>
  <ul>
    <% @cross_posts.each do |post| %>
      <li><a href="<%= post.post_link %>"><%= post.post_link %></a></li>
    <% end %>
  </ul>

  <div class="flex one three-600">
    <div></div><!-- Placeholder -->
    <div></div><!-- Placeholder -->
    <%= link_to 'Cross post',
      {
        controller: 'cross_posts',
        action: 'new',
        event_id: @event[:id],
      },
      class: 'button' %>
  </div>
</section>

<h2>RSVPs (<%= @rsvp_count %>)</h2>
<table>
  <thead>
    <tr>
      <td>Username</td>
      <td>RSVP answer</td>
      <td>Real name</td>
    </tr>
  </thead>
    <tbody>
    <% @rsvps.each do |rsvp| %>
      <tr>
        <td>
          <a href="<%= rsvp[:chat_link] %>">💬</a>
          <%= rsvp[:name] %>
        </td>
        <td>
          <%= form_tag(named_users_path, {id: "form_u#{rsvp[:uid]}"}) do %>
            <%= hidden_field_tag :return_to_event, @event[:id] %>
            <%= hidden_field_tag :meetup_id, rsvp[:uid] %>
            <% if rsvp[:verified_name].present? %>
              <%= rsvp[:answer] %>
            <% else %>
              <%= text_field_tag :full_name, rsvp[:answer] %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if rsvp[:verified_name] %>
            <%= rsvp[:verified_name] %>
          <% else %>
            <%= submit_tag '⟶ Store as real name', form: "form_u#{rsvp[:uid]}" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Copyable RSVPs</h2>
<small>Click on the list below to select all</small>
<div class="select-all">
  <%# TODO sort this by verified name; right now it's sorted by the regular name %>
  <% @rsvps.each do |rsvp| %>
    <% if rsvp[:verified_name] %>
      <%= rsvp[:verified_name] %>
    <% else %>
      <%= rsvp[:name] %>*
    <% end %>
    <% if rsvp[:plus] > 0 %>
      +<%= rsvp[:plus] %>
    <% end %>
    <br>
  <% end %>

  <br>
  * These attendees did not provide a full name, and we weren't able to reach them before this list was compiled.
</div>

<% if @book_email_subject.present? %>
  <h2>Book Group Emails</h2>
  <p>
    This looks like a book group post. Ally can generate announcement emails for you.
  </p>

  <div class="card">
    <header>
      Announcement email (click to select)
      <a href="mailto:?subject=<%= u @book_email_subject %>">Click here to populate subject in GMail</a>
    </header>
    <div class="email-body select-all"><%=@book_email_html.html_safe %></div>
  </div>
<% end %>

<h2>Copyable Question Answers</h2>
<small>Click on the list below to select all</small>
<pre class="select-all"><%= @question_answers.join("\n") %></pre>
