<h1>Global Settings</h1>
These settings affect all users on the system.

<%= form_with(scope: :settings, url: {controller: 'settings', action: 'update_all'}, method: :patch) do |form| %>

  <fieldset>
    <h3>Newsletter</h3>
    <%= form.label SettingsKeys::NEWSLETTER_LEAD_HTML, 'Default lead copy:' %>
    <%= link_to '(see past values)', setting_path(SettingsKeys::NEWSLETTER_LEAD_HTML) %>
    <br>
    <%= form.text_area SettingsKeys::NEWSLETTER_LEAD_HTML, value: @newsletter_lead_html, rows: 5, cols: 80, class: 'richtext' %>
  </fieldset>

  <%= form.submit 'Save All' %>
<% end %>
