<h1>CrossPosts#create</h1>

<%= form_tag(cross_posts_path) do %>
  <%= hidden_field_tag :source_group, @source_group %>
  <%= hidden_field_tag :event_id, @event_id %>

  <%= label_tag :dest_group, 'Destination group slug:' %>
  <%= text_field_tag :dest_group %>
  <%= submit_tag 'Submit' %>
<% end %>
