<!DOCTYPE html>
<html>
  <head>
    <title>Ally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura-earthly.css" type="text/css">
  </head>

  <body>
    <% if alert.present? %>
      <p id="flash-alert"><%= alert %></p>
    <% end %>
    <% if notice.present? %>
      <p id="flash-notice"><%= notice %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
