<!DOCTYPE html>
<html>
  <head>
    <title>Ally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/picnic">

    <%= yield :head %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1"><%# Required for responsive layout %>

  </head>

  <body>
    <% if alert.present? %>
      <div class="flashbar label error"><%= flash[:alert] %></div>
    <% end %>
    <% if notice.present? %>
      <div class="flashbar label success"><%= flash[:notice] %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
