<!DOCTYPE html>
<html>
  <head>
    <title>Ally</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if alert.present? %>
      <div class="m00 px2 bg--red fnt--white h4"><%= flash[:alert] %></div>
    <% end %>
    <% if notice.present? %>
      <div class="m00 px2 bg--green fnt--white h4"><%= flash[:notice] %></div>
    <% end %>

    <main class="measure py2">
      <%= yield %>
    </main>
  </body>
</html>
